setuptools
pytest==4.3.1
pytest-cov==2.6.1

# Reusing components from the LDA repository like "from artifici_lda import ...":
git+https://github.com/ArtificiAI/Multilingual-Latent-Dirichlet-Allocation-LDA@1.0#egg=artifici_lda
numpy==1.14.3
SciPy==1.5.2
scikit-learn==0.19.1

joblib==1.2.0
conv==0.1
